@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #27c21e;
  --secondary-color: #9fe6a5;
  --tertiary-color: #244e6a;
  --tertiary-light: #9fcfca;
  --other-color: #6d5338;
}

.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
